#word-container {
    display: flex;
    justify-content: space-evenly;
}

body{
    width: 400px;
    text-align: center;
}

#grabbed-words {
    height: 200px;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grabbed-words th, td {
    padding: 8px 10px;
}

#grabbed-words table{
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

#delBtn {
    margin-top: 20px;
    color: red;
}

#loadBtn {
    color: green;
}